<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="general" type="text">
            <group id="store_hours" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Store Hours</label>
                <field id="hours" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hours</label>
                    <frontend_model>TF\StoreHours\Block\Adminhtml\Form\Field\Hours</frontend_model>
                    <backend_model>TF\StoreHours\Model\Config\Backend\Serialized\Hours</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
